doctype
html(lang="en")
	body
	#topNav.topNav
		ul 
		li 
			a(href="#book-a") Home
		li 
			a(href="#book-a") Profile
		li Contact Me
		li This is a header
		li Look here
	.flexBoxBoi
		p check out this line
	.myBoi
		p Yo check dis out doh